.grid-33
    .app--section
      ul.app--message--list
        li
          h3
            | Recent messages
          ul.app--message--conversation
            each message,index in messageData    
              li.app--message
                .app--avatar(style=`background-image: url(${imgArr[index]})`)
                  img(src='images/f-spore.png')
                p.app--message--timestamp #{message.date} 
                p.app--message--timestamp #{message.time} 

                p.app--message--text #{message.text}
               
              