.grid-33
    .app--section
      ul.app--user--list
        li
          .circle--fluid
            .circle--fluid--cell.circle--fluid--primary
              a.app--tweet--author
                .app--avatar(style='background-image: url(static/images/f-spore.png)')
                  img(src='static/images/f-spore.png')
                h4 #{followers[1]}
                p @jillspore
            .circle--fluid--cell
              a.button.button-text Unfollow
      